h1 {
  color: white;
  -webkit-text-stroke: 3px black;
  font-size: 80px;
}

img {
  height: 1080px;
  /* width: 1920px; */
}

.video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

body {
  cursor: none;
}
